.dogs {
    background-color: chocolate;
    border-radius: 20px;
    margin-top: 40px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dogs img {
    border-radius: 12px;
    width: 230px;
    height: 230px;
}


p { 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: bisque;
    margin-bottom: 40px;
}

footer {
    display: flex;
    
    justify-content: center;
    

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(100, 35, 35) ;
}